@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="text-align:center; padding-top:40px;"> <b>Cadastro de Usuários</b></h1>

    <label style="font-size:20px; padding-top:55px;">Escolha a opção que deseja:</label>
    <div>

        <div>
            <a class="button" style="vertical-align:middle" href="/Home/Creation">
                Criação
            </a>
        </div>
        <div>
            <a class="button" style="vertical-align:middle" href="/Home/Edition">
                Edição
            </a>
        </div>
        <div>
            <a class="button" style="vertical-align:middle" href="/Home/Delete">
                Exclusão
            </a>
        </div>
        <div>
            <a class="button" style="vertical-align:middle" href="/Home/Getall">
                Listagem
            </a>
        </div>

    </div>


</div>
